bcrypt>=4.0.0
aiobcrypt>=0.2.0
cffi>=1.15.1
pycparser>=2.21

aiosqlite==0.22.0
async-timeout>=4.0.2

customtkinter==5.2.2
darkdetect==0.8.0
pillow>=9.3.0

requests==2.32.5
urllib3>=1.26.0
charset-normalizer==3.4.9
idna==3.18
certifi>=2023.7.22
python-socks>=2.0.0
bidict==0.23.1

docker>=6.0.0
stem>=1.8.2
packaging>=23.0
typing_extensions>=4.4.0